
experiments/IRB/irbapp_11774_ssamonte_7u5rc1u6c_LSPsigned.pdf

experiments/IRB/irbapp_11774_ssamonte_7u5rc1u6c copy.pdf
experiments/1-order-preference/results/.Rapp.history

experiments/.DS_Store

presentations/2019 LSA/tagalog-adj-LSA.pdf

presentations/2019 LSA/tagalog-adj-LSA.ps

presentations/2019 LSA/tagalog-adj-LSA.out

presentations/2019 LSA/tagalog-adj-LSA.log

presentations/2019 LSA/tagalog-adj-LSA.dvi

presentations/2019 LSA/tagalog-adj-LSA.blg

presentations/2019 LSA/tagalog-adj-LSA.aux

.DS_Store
